.content {
    margin-bottom: 56px;
    grid-area: content;
    // 
    &__about {
        margin-bottom: 24px;
        // 
        @media (min-width: $screen-md) {
            margin-bottom: 32px;
        }
        @media (min-width: $screen-lm) {
            margin-bottom: 52px;
        }
    }
    &__section {
        margin-bottom: 24px;
    }
}