.menu-header {
    display: flex;
    align-items: center;
    // 
    &__main-btn--close {
        margin-right: 16px;
        @media (min-width: $screen-lg) {
            display: none;
        }
    }
    &__logo {
        margin-right: auto;
    }
}