.modal {
    display: block;
    position: fixed;
    overflow: auto;
    max-width: 440px;
    width: 100%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2), 2px 0px 4px rgba(69, 79, 126, 0.02);
    background-color: #fff;
    z-index: 10;
    height: 100%;
    transform: translateX(100%);
    filter: opacity(0);
    transition: transform 300ms ease-in, filter 300ms ease-in;
    // 
    @media (min-width: $screen-md) {
        height: 100vh;
        overflow: unset;
    }
    @media (min-width: $screen-lg) {
        position: absolute;
        flex-basis: 440px;
    }
    // 
    &__content-wrapper {
        height: 85vh;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 24px 16px;
        // 
        @media (min-width: $screen-md) {
            padding: 40px 32px;
            overflow: auto;
        }
    }
    &__main-btn--close {
        margin-top: 24px;
        margin-left: 16px;
        // 
        @media (min-width: $screen-md) {
            position: absolute;
            margin: 0;
            left: -72px;
            top: 32px;
        }
    }
    &__title {
        margin: 0;
        position: relative;
        margin-bottom: 24px;
        // 
        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 40px;
            top: -8px;
            left: -16px;
            background-color: #41F6D7;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            // 
            @media (min-width: $screen-md) {
                left: -32px;
            }
        }
    }
    // 
    &--hidden {
        display: none;
    }
    &--lightening {
        @include lightening;
    }
    &--opened {
        @include open-modal;
    }
}