.services {
    position: relative;
    // 
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 16px 0;
        // 
        @media (min-width: $screen-md) {
            padding: 24px 0 24px 24px;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
        }
        @media (min-width: $screen-lg) {
            padding: 24px 0 24px 32px;
        }
        // 
        &--tech {
            .services__item {
                @media (min-width: $screen-md) and (max-width: $screen-lm - 1), (min-width: $screen-lg) and (max-width: $screen-xl - 1) {
                    &:nth-of-type(n+4) {
                        display: none;
                    }
                }
                @media (min-width: $screen-lm) and (max-width: $screen-lg - 1),
                (min-width: $screen-xl) {
                    &:nth-of-type(n+5) {
                        display: none;
                    }
                }
            }
        }
        &--brands {
            .services__item {
                @media (min-width: $screen-md) and (max-width: $screen-lm - 1), (min-width: $screen-lg) and (max-width: $screen-xl - 1) {
                    &:nth-of-type(n+7) {
                        display: none;
                    }
                }
                @media (min-width: $screen-lm) and (max-width: $screen-lg - 1),
                (min-width: $screen-xl) {
                    &:nth-of-type(n+9) {
                        display: none;
                    }
                }
            }
        }
    }
    &__item {
        display: block;
        list-style: none;
        width: min-content;
        margin-left: 16px;
        // 
        @media (min-width: $screen-md) {
            margin: 0 24px 16px 0;
        }
        @media (min-width: $screen-lg) {
            margin: 0 32px 16px 0;
        }
        // 
        &:last-of-type {
            margin-right: 16px;
        }
        // 
        &--visible {
            display: block !important;
        }
    }
    &__pagination {
        position: static;
        //
        @media (min-width: $screen-md) {
            display: none;
        }
        //  
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #DDDDDD;
        }
    }
    &__expand-btn {
        display: none;
        // 
        @media (min-width: $screen-md) {
            display: block;
            margin-left: 24px;
        }
        @media (min-width: $screen-md) {
            margin-left: 32px;
        }
    }
    // 
}